.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Adjust the max-width as needed */
    height: 580px; /* Adjust the height as needed */
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
  }
  
  .selected-dot {
    color: #ED4C5A; /* Pink color for selected dot */
  }
  